<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        {{>header}}
        <div id="main-content">
            <p>This site was created by Mike Temby. It uses data from mapbox.com and darksky.net to return the forecast.</p>
            <img src="/img/mike.jpg" alt="mike profile">
        </div>
        {{>footer}}
        <script src="" async defer></script>
    </body>
</html>