<header>
    <div id="top-nav-container">
    <nav id="main-menu">
        <div id="logo-container"><img src="/img/weather.png" id="logo">
        </div>
        <ul id="main-nav">
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="/about">About</a></li>
            <li class="nav-item"><a href="/help">Help</a></li>
        </ul>
    </nav>
    </div>
    <div id="title-container">
        <h1>{{title}}</h1>
    </div>
</header>
